# GlassOS policy revision 1
allow boot enter kernel
allow kernel initialize interrupts
deny cpu exception kernel
allow shell inspect *
allow shell expand *
allow shell history *
allow shell why *
allow shell filesystem:list ramfs
allow shell filesystem:lookup *
allow shell filesystem:read *
allow shell module:load *
allow shell memory:inspect memory
allow shell ui:clear window
allow shell ui:redraw window
allow shell config:get *
allow shell config:set *
allow shell policy:show policy/base.policy
allow shell policy:change policy/base.policy
allow * syscall:inspect *
allow * syscall:yield *
allow * syscall:config_get *
